<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <table>
<thead>
	<td>
		Email
	</td>
	<td>
		Wave ID
	</td>
	<td>
		Wave Sync
	</td>
	</td>
	<td>
		Review Count
	</td>
	</td>
	<td>
		Review Average
	</td>
	</td>
	<td>
		Zero SYnc
	</td>
	</td>
	<td>
		Last Login
	</td>
</thead>
<tbody>

	<% for (let i = 0; i<users.length;i++) {%>
		<tr>
			<td> <%- users[i].email %></a></td>
			<td> <%- users[i].wavelength %> </td>
			<td> <%- users[i].wave_sync %> </td>
			<td> <%- users[i].review_count %> </td>
			<td> <%- users[i].review_average %> </td>
			<td> <%- users[i].zero_sync %> </td>
			<td> <%- users[i].last_login %> </td>
		</tr>
		<%  }%>
	</tbody>
	</table>
<%- include('../includes/end.ejs') %>