<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <table>
<thead></thead>
<tbody>

	<% for (let i = 0; i<content.length;i++) {%>
		<tr>
			<td><a href="../content/<%-content[i].content_id%>"><%- content[i].title %></a></td> <td>Thumbs Up</td><td>Neutral</td><td>Thumbs Down</td>
		</tr>
		<%  }%>
	</tbody>
	</table>
<%- include('../includes/end.ejs') %>