<%- include('../includes/head.ejs') %>
</head>

<body>
	<%- include('../includes/navigation.ejs') %>
	<content>
		<table>
			<thead>
				<td>
					Content
				</td>
				<td>
					Number of Reviews
				</td>

				<td>
					Like Ratio
				</td>
				<td>
					Image
				</td>
			</thead>
			<tbody>

				<% for (let i = 0; i<content.length;i++) {%>
				<tr>
					<td><a href="../content/<%-content[i].content_id%>"><%- content[i].title %></a></td>
					<td> <%- content[i].count %> </td>
					<td>
						<% if(content[i].count==0){ %>
						<%- "No reviews yet" %>
						<% } else {%>
						<%- parseFloat((content[i].like_count/content[i].count)*100).toFixed(2) +"%" %>
						<% }%>
					</td>
					<td>
						<img class="view-content" src="/images/<%- content[i].image_url%>">
					</td>
					
				</tr>
				<%  }%>
			</tbody>
		</table>
	</content>
	
	<script src="/js/main.js"></script>
	<footer style="position: relative;">
		<p>This site was built in 2022 for Matt Wilson's Senior project. 
			It was built using Node.js, Express and PostgresSql. 
			It is hosted on Heroku and <a href="https://github.com/mattwandcow/senior-project">Github</a></p>
	</footer>
	</body>
	
	</html>