<div class="content_card">
	<span><%- card_source.title %></span>
	<div class="button_box" id="card_id_<%- card_source.content_id%>">
		<button onClick="rate_button('<%- card_source.content_id %>',1)">Up</button>
		<button onClick="rate_button('<%- card_source.content_id %>',4)">Delay</button>
		<button onClick="rate_button('<%- card_source.content_id %>',3)">Down</button>
	</div>
</div>