<%- include('../includes/head.ejs') %>
</head>

<body>
	<%- include('../includes/navigation.ejs') %>
	<% if(wave_content.length==0 && zero_content.length==0){%>
		<p>Something went wrong. Either there was an error with the database, or we don't have any recomendations for you. Sorry!</p>
	<% } else {%>
		<p>
		<%if(wave_content.length>0){%>
				The top pick from users on your wavelength is <a href='/content/<%- wave_content[0].content_id%>'><%- wave_content[0].title%></a>.
				<% } else {%>
				There is no viable recomendations from your wavelength.
		<% } %>
		<%if(zero_content.length>0){%>
			The top pick from all users is <a href='/content/<%- zero_content[0].content_id%>'><%- zero_content[0].title%></a>, although we can't be sure how well that matches with your tastes.
	<% } %>
	</p>
	<%if(wave_content.length>0){%>
	<h2>Top <%- wave_content.length %> Reviews from your wavelength</h2>
	<% for (let i = 0; i<wave_content.length;i++){	%>
	<p><a href='/content/<%- wave_content[i].content_id%>'><%- wave_content[i].title%></a> scored a <%- parseFloat(wave_content[i].percentage*100).toFixed(2) %>% like ratio 
		from your wavelength.
	</p>

	<% }} %>
	<h2>Top <%- zero_content.length %> Reviews from All Users</h2>
	<% for (let i = 0; i<zero_content.length;i++){	%>
	<p><a href='/content/<%- zero_content[i].content_id%>'><%- zero_content[i].title%></a> scored a <%- parseFloat(zero_content[i].percentage*100).toFixed(2) %>% like ratio 
		<% if(zero_content[i].flag=='wave') {%>
		from your wavelength.
		<% } else {%>
		from all users.
		<% } %>
	</p>

	<% }} %>
	<%- include('../includes/end.ejs') %>