<%- include('../includes/head.ejs') %>

<script>
	function rate_button(user, contentID, marker) {
		console.log(":"+contentID+":");
		console.log(":"+user+":");
		switch (marker) {
			case 1:
				fetch('/shorthand/rate/'+contentID+'/'+user+'/1')
				break;
			case 2:
				fetch('/shorthand/rate/'+contentID+'/'+user+'/2')
				break;
			case 3:
				fetch('/shorthand/rate/'+contentID+'/'+user+'/3')
				break;
		}
		console.log('/shorthand/rate/'+contentID+'/'+user+'/');
	}
</script>

</head>

<body>
	<%- include('../includes/navigation.ejs') %>
	<h2><%- content.title %></h2>
	<img src="/images/<%-content.image_url%>">
	<button onClick="rate_button( '<%- user %>','<%- content.content_id %>',1)">Up</button>
	<button onClick="rate_button( '<%- user %>','<%- content.content_id %>',2)">Neutral</button>
	<button onClick="rate_button( '<%- user %>','<%- content.content_id %>',3)">Down</button>
	
	(Should show whichever the user has set)
	<% if (isAdmin) { %>
	 
		<p><a href="../editcontent/<%-content.content_id%>">Edit this</a></p>
		<p><a href="../add-image/<%-content.content_id%>">Add/Change Image</a></p>
	<% } %>
	<%- include('../includes/end.ejs') %>